header{
    background-color: rgb(255, 255, 255);

}
.black-btn{
    color: aliceblue;
    font-family: "Ink Free";
    font-size: x-large;
    border-color: aliceblue;
    border-width: 0.4rem;
    min-width: 70%;

}
.white-space{
    background-color: black;
}

.red-space{
    background-color: red;
}

.wave{
    position: relative;
    padding: 0;
}

.logo1{
    padding-top: 7rem;
    min-height: 33rem;
    padding-bottom: 9rem;
}

.logo{
    width: 30rem;
    min-height: 100%;
}

.card{
    background-image: url("https://storage.modworkshop.net/mods/images/85614_1663405886_1bd3804db92969bde78399ada8ca018b.webp");
    background-attachment: fixed;
    color: aliceblue;
    font-family: "Ink Free";
    font-weight: bolder;
    border-style: dotted;
    border-color: rgb(255, 255, 255);
    border-width: 0.5rem;
  }

.card-title{
    font-size: 3rem;
    font-weight: bolder;
    
}

.btn{
    font-weight: 600;
    color: rgb(92, 43, 226);
    background-color: aliceblue;
    
}


main{
    background-image: url("https://pbs.twimg.com/media/D8fUfGyV4AESSSQ.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.omori{
    background-color: white;
    color: black;
    font-family: "Bradley Hand ITC";
    font-weight: 800;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

.omori.btn{
    background-color: black;
    color: aliceblue;
    border-color: bisque;
}

.main{
    background-image: url();
}

.footer-headspace{
    background-color: black;
}

.get-image{
    background-image: url("https://images6.alphacoders.com/114/1148181.png");
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
    min-height: fit-content;
    overflow-x: hidden;
}

.get-height{
    min-height: 37rem;
}


/* Blackspace */


.about{
    background-color: black;
    background-image: url("https://i.pinimg.com/736x/fc/e1/4c/fce14c69f80ef575f12db21a7476d79a.jpg");
    background-size: 30rem;
    background-repeat: no-repeat;
    background-position: 100%;
    overflow-x: hidden;
}

.blackspace{
    background-color: white;
    background-attachment: fixed;
}

.title-about{
    color: aliceblue;
    font-family: "Ink Free";
    font-size: 3rem;
}
.accordion-item{
    background-color: black;
    border: 0.3rem;
    border-style: dotted;
    border-top-style: none;
    color: aliceblue;
    font-family: "Ink Free";
}

.collapseOne{
    background-color: blanchedalmond;
}
.accordion-body{
    background-color: black;
}


/* Friends */

.likes{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: green;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

.Omori{
    background-color: black;
    font-family: 'Segoe Script';
    color: rgb(255, 0, 76);
    border: 0.5rem;
    border-color: rgb(255, 255, 255);
    border-style: dotted;
}

.Kel{
    background-color: rgb(252, 197, 95);
    font-family: 'Ink Free';
    font-weight: bolder;

    border: 0.5rem;
    border-color: rgb(255, 75, 30);
    border-style: dotted;

}

.Aubrey{
    background-color: pink;
    font-family: 'Bradley Hand ITC';
    font-weight: bolder;
    border: 0.5rem;
    border-color: rgb(215, 79, 197);
    border-style: dotted;
}

.Hero{
    background-color: rgb(117, 172, 253);
    font-family: 'Baskerville Old Face';
    font-size: large;
    border: 0.5rem;
    border-color: rgb(79, 108, 215);
    border-style: dotted;
}

.Basil{
    background-color: aquamarine;
    font-family: 'Edwardian Script ITC';
    font-size: x-large;
    font-weight: bolder;

    border: 0.5rem;
    border-color: rgb(41, 129, 16);
    border-style: dotted;
}

.Mari{
    background-color: black;
    font-family: 'Freestyle Script';
    font-size: x-large;
    font-weight: 200;
    color: rgb(222, 48, 48);
    border: 0.5rem;
    border-color: rgb(255, 227, 220);
    border-style: dotted;
}

.blackspacebg{
    background-image: url("https://i.pinimg.com/736x/fc/e1/4c/fce14c69f80ef575f12db21a7476d79a.jpg");
    
}