header{
    background-color: rgb(255, 255, 255);

}
.black-btn{
    background-color: black;
    color: aliceblue;
    font-family: "Ink Free";
    font-size: x-large;
    border-color: aliceblue;
    border-width: 0.4rem;
    min-width: 70%;

}
.white-space{
    background-color: blue;
}

.red-space{
    background-color: red;
}

.wave{
    position: relative;
    padding: 0;
}

.logo1{
    padding-top: 7rem;
    min-height: 33rem;
    padding-bottom: 9rem;
}

.logo{
    width: 30rem;
    min-height: 100%;
}

.card{
    background-image: url("https://storage.modworkshop.net/mods/images/85614_1663405886_1bd3804db92969bde78399ada8ca018b.webp");
    background-attachment: fixed;
    color: aliceblue;
    font-family: "Ink Free";
    font-weight: bolder;
    border-style: dashed;
    border-color: rgb(96, 96, 96);
    border-width: 0.5rem;
  }

.card-title{
    font-size: 3rem;
    font-weight: bolder;
    
}

.btn{
    font-weight: 600;
    color: rgb(92, 43, 226);
    background-color: aliceblue;
    
}


main{
    background-image: url("https://pbs.twimg.com/media/D8fUfGyV4AESSSQ.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.omori{
    background-color: white;
    color: black;
    font-family: "Bradley Hand ITC";
    font-weight: 800;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

.omori.btn{
    background-color: black;
    color: aliceblue;
    border-color: bisque;
}

.main{
    background-image: url();
}